*.log
*.aux
*.gz
*.zip
*.jar
*.exe
*.stackdump
*.index
*.name
*.map
*.iml
*.lock
*.phar
*.gitattributes
*.rar
Vagrantfile
built.js
tools/.metadata/*
cache/*
.sass-cache/*
.idea/*
vendor/*
External/*
bower_components/*
content/themes/backend/css/*
node_modules/*
puphpet/*
.vagrant/*
Docs/Code/*
Docs/Dependencies/*
Docs/Stats/*
test.php
MSG.md
*NOGIT*
profiler
